/Library
/Logs
/Temp
/UserSettings
/Unity.RenderPipelines.Core.Editor.csproj
/Unity.RenderPipelines.Core.Editor.Tests.csproj
/Unity.RenderPipelines.Core.Runtime.csproj
/Unity.RenderPipelines.Core.Runtime.Tests.csproj
/Unity.RenderPipelines.Core.ShaderLibrary.csproj
/Unity.RenderPipelines.HighDefinition.Config.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Editor.csproj
/Unity.RenderPipelines.HighDefinition.Editor.Tests.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.csproj
/Unity.RenderPipelines.HighDefinition.Runtime.Tests.csproj
/Unity.RenderPipelines.HighDefinitionConfig.Editor.Tests.csproj
/Unity.RenderPipelines.ShaderGraph.ShaderGraphLibrary.csproj
/Unity.Rider.Editor.csproj
/Unity.ShaderGraph.Editor.csproj
/Unity.ShaderGraph.Editor.Tests.csproj
/Unity.ShaderGraph.Utilities.csproj
/Unity.VisualEffectGraph.Editor.csproj
/Unity.VisualEffectGraph.Editor.Tests.csproj
/Unity.VisualEffectGraph.Runtime.csproj
/Unity.VisualEffectGraph.Runtime.Tests.csproj
/UnityEngine.UI.csproj